.header_outer_container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    height: 10vh;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
}
.nav__black{
    background-color:  rgb(20, 20, 20);
}
.header_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}
.header_left ul{
    width: 140%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}
.header_right ul{
    width: 150%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
}
.menu_open .header_left ul {
    display: flex;
}

.menu_button {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.menu_button span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
    .header_container {
        width: 95%; 
        margin-right: 10px;
    }

    .header_left img {
        margin-right: auto; 
    }

    .menu_button {
        display: block; 
    }

    .header_left ul {
        position: static;
        display: none; 
    }
}