.footer_outer_container {
	background-color: #111;
	color: grey;
    display: flex;
    justify-content: center;
    padding: 3% 0;
}
.footer_inner_container{
    width: 80%;
}
.footer_icons{
    width: 22%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    color: #fff;
}
.footer_data{
    display: flex;
    justify-content: space-between;
}
.footer_data ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;
    } 
.footer_data ul li{
    cursor: pointer;
}
.service_code {
    display: flex;
    align-items: center;
    justify-content: center;
    border:#fff 1px solid;
    width:15%;
    margin:10px 0;
    cursor: pointer;
}
.copy-write{
    font-size: 12px;
    margin-bottom:10px;
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
    .footer_inner_container {
        width: 90%; 
    }

    .footer_icons {
        width: auto; 
        margin-left: 0; 
    }

    .footer_data ul {
        flex-direction: row; 
        height: auto; 
    }

    .service_code {
        width: auto; 
    }
}
